fastapi
uvicorn[standard]
sqlalchemy
pydantic
httpx  # required by FastAPI TestClient
 langgraph
langchain
langchain-community
langchain-ollama
langchain-chroma
chromadb
langchain-text-splitters
langfuse
python-dotenv
 